@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600&display=swap");
* {
	padding: 0;
	margin: 0;
}
:root {
	--color-button: #b91e1e;
	--fw4: 400;
	--fw5: 500;
	--fw6: 600;
	--fw7: 700;
	--fw8: 800;
	--color-font: #000000;
	--color-background: #ffffff;
}

body {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
*,
::before,
::after {
	box-sizing: border-box;
}
.text {
	color: var(--color-background);
}
.text-align {
	text-align: center;
}
.mobile-hide {
	display: none;
}
.nav_top {
	margin-top: 41px;
	display: flex;
	justify-content: space-between;
}
.background-cover img {
	background-size: cover;
}
.object-cover img {
	position: absolute;
	object-fit: cover;
	width: var(--percent100);
	height: var(--percent100);
	display: block;
}
.flexwrap {
	display: flex;
	flex-wrap: wrap;
}
.flexcol {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.text-hide {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.t-290 {
	top: 290px !important;
}
.nav_top .nav_menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.nav_top .nav_menu ul li {
	padding: 0px 10px;
	line-height: 36px;
}
.nav_top .nav_menu ul li a {
	font-size: 18px;
	color: var(--color-font);
	font-weight: var(--fw6);
}
.nav_top .nav_menu ul li:hover > a {
	color: var(--color-button);
}

.header-main .bg-info {
	position: relative;
	height: 500px;
	top: 20px;
}
.header-main .text-content {
	position: relative;
	height: var(--percent100);
}
.header-main .bg-info .text-bg {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	transform: translateY(50%);
	z-index: 1;
}
.header-main .bg-info .text-bg .button-shownow {
	margin-top: 20px;
}
.header-main .bg-info .text-bg .button-shownow a {
	padding: 8px 25px;
	background-color: var(--color-background);
	border-radius: 20px;
	text-transform: uppercase;
	color: var(--color-button);
	font-weight: var(--fw6);
	font-size: 23px;
	transition: all 0.2s ease-in-out;
}
.header-main .bg-info .button-shownow a:hover {
	background-color: var(--color-button);
	color: var(--color-background);
	transition: all 0.2s ease-in-out;
}

.toggle {
	cursor: pointer;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.toggle i {
	font-size: 28px;
	transition: all 0.2s ease-in-out;
}
.toggle i:hover {
	color: var(--color-button);
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition: transform 0.4s, visibility 0.4s;
	will-change: visibility, opacity;
}
.overlay.active-overlay {
	visibility: inherit;
	opacity: 1;
}
.menu-mobile {
	position: fixed;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background-color: var(--color-button);
	transform: translateX(200%);
	right: 0;
	float: right;
	overflow-y: auto;
	z-index: 1000;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-top: -42px;
	transition: transform 0.4s, visibility 0.4s;
	will-change: transform, visibility;
}

.menu-mobile .close i {
	margin-top: 10px;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
	color: var(--color-background);
	transition: all 0.2s ease-in-out;
}
.menu-mobile .close i:hover {
	color: var(--color-font);
	transition: all 0.2s ease-in-out;
}
.menu-mobile ul {
	padding: 20px;
	border-top: 1px solid #a9a9a9a2;
}
.menu-mobile ul li {
	padding: 20px;
}
.menu-mobile ul li a {
	font-size: 20px;
	color: var(--color-background);
}
.menu-mobile ul li a:hover {
	text-decoration: underline;
}
aside.active {
	transform: translateX(0);
	visibility: visible;
	transition: transform 0.4s 0s, visibility 0s 0s;
}

.menu-tabs {
	top: 60px;
	position: relative;
}
.menu-tabs .tabs ul {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.menu-tabs .tabs ul li {
	padding: 15px;
}
.menu-tabs .tabs ul li a {
	font-family: "SVN-Gilrory", sans-serif;
	color: var(--color-font);
	font-weight: var(--fw5);
	font-size: 18px;
}

.menu-tabs .tabs ul li.active a {
	padding: 15px 20px;
	background-color: var(--color-button);
	color: var(--color-background);
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	transition: all 0.2s ease-in-out;
}
.content-wrap {
	position: relative;
	top: 100px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid rgba(17, 17, 17, 0.1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.content-text {
	padding: 30px;
}
.content_info {
	padding: 0px 0px 20px 0px;
}
.content_info .flag {
	font-family: "Apercu", sans-serif;
	font-size: 15px;
	list-style: 22px;
	width: 48px;
	height: 22px;
	font-weight: var(--fw5);
	background-color: var(--color-button);
	color: rgba(255, 255, 255, 1);
	padding: 6px 10px;
}
.content_info .time {
	font-family: "Apercu", sans-serif;
	font-size: 15px;
	/* list-style: 22px; */
	font-weight: var(--fw5);
	color: rgba(17, 17, 17, 1);
	padding-left: 10px;
}
.tab-content .content_title .title {
	font-family: "Apercu", sans-serif;
	font-size: 30px;
	list-style: 40px;
	font-weight: var(--fw7);
	-webkit-line-clamp: 2;
}
.tab-content .content_title .content {
	font-family: "Apercu", sans-serif;
	font-size: 14px;
	opacity: 60%;
	margin-top: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.btn-readmore a {
	font-family: "Apercu", sans-serif;
	padding: 9px 17px;
	color: rgba(185, 30, 30, 1);
	border: 1px solid rgba(185, 30, 30, 1);
	border-radius: 6px;
	transition: color 0.2s ease-in-out;
}
.btn-readmore a:hover {
	background-color: rgba(185, 30, 30, 1);
	color: var(--color-background);
}
.banners {
	position: relative;
	top: 160px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
.banners .name-company {
	font-size: 20px;
	font-weight: var(--fw7);
	font-family: "SVN-Gilrory", sans-serif;
}
.tName-Company {
	color: rgba(185, 30, 30, 1);
}
.banners .info-company {
	color: rgba(0, 0, 0, 1);
	font-weight: var(--fw6);
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}

.cards {
	position: relative;
	top: 200px;
}
.items {
	justify-content: center;
	align-items: center;
}
.items .item {
	flex-direction: column;
	flex: 0 0 100%;
	border-radius: 6px;
	margin-bottom: 50px;
	height: 550px;
	min-height: 500px;
	margin-right: 20px;
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cards .item .thumbnail img {
	width: 100%;
	height: 300px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.cards .item .item-content {
	padding: 10px;
}
.cards .item .title {
	font-family: "Apercu", sans-serif;
	font-weight: var(--fw7);
	font-size: 20px;
	-webkit-line-clamp: 2;
}
.cards .item .content {
	font-family: "Apercu", sans-serif;
	font-size: 14px;
	opacity: 60%;
	-webkit-line-clamp: 3;
}
.banners-company {
	position: relative;
	top: 230px;
}

.banners-company .thumbnail img {
	height: 240px;
	filter: drop-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.25));
}
.banners-company .content-ban {
	padding: 40px 35px 40px 25px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.banners-company .content-ban .title-banner {
	font-weight: var(--fw6);
	font-size: 22px;
	line-height: 30px;
}
.banners-company .content-ban .content-banner {
	font-family: "SVN-Gilrory", sans-serif;
	font-weight: var(--fw5);
	font-size: 12px;
	padding: 10px 0px;
}
.banners-company .content-ban .gotoweb {
	margin-bottom: 15px;
}
.banners-company .content-ban .gotoweb a {
	cursor: pointer;
	padding: 5px;
	width: fit-content;
	background-color: var(--color-button);
	color: var(--color-background);
	font-size: 14px;
	border-radius: 45px;
	margin-bottom: 20px;
	-webkit-line-clamp: 1;
}
.banners-company .content-ban .gotoweb a i {
	font-size: 16px;
}
.banners-company .content-ban .gotoweb a:hover {
	border: 2px solid var(--color-button);
	color: var(--color-button);
	background-color: transparent;
}

.gridview .gird-items {
	position: relative;
	top: 320px;
	min-height: 500px;
}
.gridview .gird-items .grid {
	display: grid;
	height: 250px;
	width: 100%;
	grid-template-columns: 60% 40%;
	grid-template-rows: repeat(2, 100%);
}
.gridview .gird-items .grid .item {
	height: 100%;
	background-color: rgba(189, 189, 189, 1);
	padding: 10px 30px;
}
.gridview .gird-items .grid .item:first-child {
	grid-row: 1 / span 2;
}
.gridview .gird-items .grid .item:last-child {
	background-color: rgba(162, 162, 162, 1);
}
.gridview .gird-items .grid .item .title {
	color: rgba(255, 255, 255, 1);
	font-size: 40px;
	line-height: 60px;
	font-weight: var(--fw6);
}
.gridview .gird-items .grid .item .foot-grid {
	transform: translateY(70px);
}
.gridview .gird-items .grid .item:first-child .foot-grid {
	transform: translateY(300px);
}
.gridview .gird-items .grid .item .foot-grid .content {
	font-family: "Lato", sans-serif;
	font-weight: var(--fw4);
	font-size: 16px;
	color: rgba(242, 242, 242, 1);
	line-height: 20px;
	padding: 0px 150px 5px 0px;
}
.gridview .gird-items .grid .item .foot-grid .action a {
	font-family: "Lato", sans-serif;
	font-weight: var(--fw4);
	font-size: 13px;
	color: rgba(242, 242, 242, 1);
	letter-spacing: 5px;
	text-transform: uppercase;
}
.gridview .gird-items .grid .item .foot-grid .content {
	-webkit-line-clamp: 3;
}
.pagination {
	position: relative;
	top: 380px;
}
.pagination .listPage {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.pagination .listPage li {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	display: flex;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(17, 17, 17, 0.1);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.pagination .listPage li:hover {
	color: var(--color-background);
	background-color: var(--color-button);
}

.pagination .listPage li.active-page {
	color: var(--color-background);
	background-color: var(--color-button);
}
.footer-info {
	position: relative;
	top: 500px;
}
.footer-info .info {
	background-color: var(--color-button);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer-info .info h2 {
	color: var(--color-background);
	font-weight: var(--fw6);
	font: 30px;
	line-height: 50px;
	padding: 20px 0px;
}
.footer-info .info ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-bottom: 80px;
}
.footer-info .info ul li {
	display: flex;
	flex-direction: column;
	padding: 0 110px 0px 60px;
}
.footer-info .info ul li::before {
	content: "";
	position: absolute;
	margin-left: -20px;
	top: 97px;
	width: 12px;
	height: 12px;
	background-color: var(--color-background);
	border-radius: 100%;
}

.footer-info .info ul li .title {
	color: var(--color-background);
	font-weight: var(--fw6);
	font-size: 18px;
}
.footer-info .info ul li .content {
	color: var(--color-background);
	font-weight: var(--fw4);
	font-size: 13px;
}
.footer-banner {
	position: relative;
	top: 600px;
}
.footer-banner .banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.footer-banner .banner h2 {
	color: var(--color-button);
	font-size: 35px;
	line-height: 60px;
}
.footer-banner .banner .text-banner {
	color: var(--color-font);
	font-weight: var(--fw6);
	font-size: 16px;
	line-height: 25px;
}
.form-contact {
	position: relative;
	top: 700px;
	z-index: 98;
}
.form-contact form {
	display: grid;
	background-color: var(--color-background);
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2, 100%);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.25);
}
.form-contact form .contact {
	display: flex;
	flex-direction: column;
	padding: 40px 120px 40px 40px;
}
.form-contact form .contact .pb-2 {
	padding-bottom: 20px;
}
.form-contact form .contact span i {
	padding-right: 10px;
}
.form-contact form .contact span.c-text {
	color: var(--color-font);
	font-weight: var(--fw5);
}

.form-contact form .form {
	padding: 10px 0px 0px 50px;
	border-left: 1px solid rgba(200, 200, 200, 1);
}
.form-contact form .form-input {
	margin-bottom: 25px;
}
.form-contact form .form-input label {
	color: var(--color-font);
	font-weight: var(--fw5);
	padding: 0px 1px 0px 0px;
	position: relative;
	font-size: 16px;
	transition: all 0.3s ease;
	pointer-events: none;
}
.form-contact form .form-input label::after {
	content: ":";
}
.form-contact form .form-input .label .placeholder {
	color: #ccc;
	font-weight: var(--fw4);
	font-size: 14px;
	transition: all 0.3s ease;
	pointer-events: none;
}
.form-contact form .form-input input {
	padding: 10px 20px;
	width: 90%;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	background-color: transparent;
	outline: none;
}

.form-contact form button[type="submit"] {
	border: 0;
	background-color: var(--color-button);
	color: var(--color-background);
	border-radius: 50px;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 20px;
}
.form-contact form button[type="submit"]:hover {
	background-color: var(--color-background);
	color: var(--color-button);
	border: 2px solid var(--color-button);
}
.footer-logo {
	position: relative;
	background-color: #1a1919;
	top: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 500px;
	width: 100%;
}
.footer-logo .logo {
	position: relative;
	top: 100px;
}
.footer-logo .logo svg {
	width: 120px;
}
.footer-logo .social-network {
	position: relative;
	top: 80px;
	padding: 50px 0px;
}
.footer-logo .social-network span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-logo .social-network .icon ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.footer-logo .social-network .icon ul li {
	padding: 10px;
}
.footer-logo .social-network .icon ul li a svg {
	width: 20px;
}
.footer-logo .social-network span.text {
	font-size: 15px;
}
.footer-logo .social-network span.text-align {
	text-align: center;
}
.footer-logo .social-network span.coppyright {
	margin-top: 50px;
}
